/******
Note: create night mode
      add toggle icon
      work on copy
      fill in link address

******/

/* simple reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** base styles ***/
html {
  font-size: 100%;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  line-height: 122%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 2.375rem;
}

/*** header styles ***/
header {
  padding-top: 3.13rem;
  margin: 0 auto;
  width: 85%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** intro styles ***/
.intro {
  margin: 5rem auto 0 auto;
  width: 85%;
}

.intro .intro__heading {
  font-size: 2.25rem;
  line-height: 110%;
}

nav.intro__nav {
  /* font-size: 1.125rem; */
  margin-top: 2.8rem;
}

nav .intro__nav-links,
nav .intro__nav-social {
  list-style: none;
}

nav .intro__nav-links li {
  padding: 5px;
}

nav .intro__nav-contact {
  display: flex;
  flex-direction: column;

  margin-top: 12px;
}

nav .intro__nav-contact .email-link {
  color: #0c6cfd;
}

nav .intro__nav-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  margin-top: 1rem;
}

nav .intro__nav-social li {
  width: 2.5rem;
  padding: 0 16px 0 0;
}

nav .intro__nav-social svg {
  width: 100%;
}

/*** projects styles ***/
.projects {
  margin: 10rem auto 0 auto;
  width: 85%;
}

.projects__title {
  margin: 0 auto 2rem auto;
}

.projects__grid {
  margin: 3.125rem auto 0 auto;

  display: flex;
  flex-direction: column;
}

.projects__grid-item--img {
  display: none;
}

.grid-item-box {
  width: 100%;
  max-height: 12.5rem;
}

.projects__grid-item--description {
  padding: 2rem;
  border-left: 10px solid #0c6cfd;
  border-top: 6px solid #e6e6e6;
  border-right: 6px solid rgba(244, 244, 244, 0.023);
  border-bottom: 10px solid #e6e6e6e6;
  background-color: #ffffff;
}

.projects__grid-item:not(:last-child) {
  margin-bottom: 3.125rem;
}

.projects__grid-item--title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.projects__grid-item--links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;

  width: 100%;
}

.projects__grid-item--links a {
  margin-right: 1.8rem;
  padding-bottom: 3px;
  border-bottom: solid 1px rgb(70, 70, 70);
}
